http {
	server {
		listen 8000;
		root /Users/vivienneowusuansah/dev/nginx;
		
		location /images {
		
			root /Users/vivienneowusuansah/dev/nginx/images;
		}

		location ~ .jpeg$ {
			return 403;
			}
	}
	
	server {
		listen 8888;

		location / {
			proxy_pass http://localhost:8000/;
			}
	}


}

events { }
